{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}{{flatpage.title}}{% endblock %}
{% block slider %}{% endblock %}
{% block contenido %}
<div class="background-m"></div>
	<div class="header-news">
		<div class="container">
			<h3 ><span class="titlep">{{flatpage.title}}</span></h3>
		</div>
	</div>
	<div class="container">
		<div class="row">
  			<div class="col-xs-12 col-sm-6 col-md-9" id="entry-p">
        <br>
        <div class="fondo">
            {{ flatpage.content }}

        </div>
  		
  			</div>
  			<div class="col-md-6 col-md-3" id="sidebar">
  				<div class="widget">
            <div class="header-sidebar">
              <span>Atencion al cliente</span>
            </div>
            <div class="cont-sidebar">
              <ul>
                <li><b>Teléfono: </b>353-532-63-78</li>
                <li><b>Dirección: </b>Calzada Revolucion 343 esq Padre Arregui, Col:Centro</li>
                <li><b>Ciudad: </b>Sahuayo, Mich.</li>
                <li>Correo: info@super24.com.mx</li>
              </ul>
            </div>
          </div><!--widget-->
          <div class="widget">
            <div class="header-sidebar">
              <span>Nosotros</span>
            </div>
            <div class="cont-sidebar">
              <span>
                “Somos una empresa comprometida con la satisfacción total de nuestros clientes, encontrando las 24 horas la diferencia en atención, limpieza, seguridad, variedad y rapidez en sus necesidades de compras convenientes.” 
              </span>
            </div>
          </div><!--/widget-->
  			</div>
		</div>	
	</div><!--/container-->
{% endblock %}