{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %} Aplicar para: {{vacancie.title}}  {% endblock %}
{% block css %}
 <style>
        .errorlist {
            color: red;
        }
  </style>
  {% endblock %}
{% block js %}
{% endblock %}
{% block slider %}{% endblock %}
{% block contenido %}
<div class="background-m"></div>
	<div class="header-news">
		<div class="container">
			<h3><span class="titlep">Envio de datos correcto</span></h3>
		</div>
	</div>

	<div class="container">
		<div class="row">
  			<div class="col-sm-6 col-md-9" id="entry-p">
        <br>
        <!--Contenido-->
          <div class="col-xs-12 alert alert-success">
            <span>Agradecemos tu interés en nuestra bolsa de trabajo , en breve nos podremos en contacto contigo</span>
          </div>

        <!--/Contenido-->
  			</div>
  			<div class="col-md-6 col-md-3" id="sidebar">
  				<div class="widget">
            <div class="header-sidebar">
              <span>Contácto</span>
            </div>
            <div class="cont-sidebar">
              <ul>
                <li><b>Teléfono: </b>353-532-63-78</li>
                <li><b>Dirección: </b>Calzada Revolucion 343 esq Padre Arregui, Col:Centro</li>
                <li><b>Ciudad: </b>Sahuayo, Mich.</li>
                <li>Correo: info@super24.com.mx</li>
              </ul>
            </div>
          </div><!--/widget-->
  					<div class="widget">
            <div class="header-sidebar">
              <span>Nosotros</span>
            </div>
            <div class="cont-sidebar">
              <span>
                “Somos una empresa comprometida con la satisfacción total de nuestros clientes, encontrando las 24 horas la diferencia en atención, limpieza, seguridad, variedad y rapidez en sus necesidades de compras convenientes.” 
              </span>
            </div>
          </div><!--/widget-->
  			</div>
		</div>	
	</div><!--/container-->

{% endblock %}

{% block scripts %}
  <script src="../../../static/docs-assets/js/events/aplicantes.js"></script>
{% endblock %}