{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %} Bolsa de trabajo {% endblock %}
{% block css %}
 <style>
        .errorlist {
            color: red;
        }
  </style>
  {% endblock %}
{% block js %}
{% endblock %}
{% block slider %}{% endblock %}
{% block contenido %}
<div class="background-m"></div>
	<div class="header-news">
		<div class="container">
			<h3><span class="titlep">Bolsa de trabajo</span></h3>
		</div>
	</div>

	<div class="container">
		<div class="row">
  			<div class="col-sm-6 col-md-9" id="entry-p">
        <br>
        <!--Contenido-->
              {% if vacancies_list %}
          {% for vacante in vacantes %}  
        <div class="row" id="entry">
            <div class="col-md-2">
              <div class="image-entry">
              <a href="{% url 'vacante' vacante.slug %}">
              {% if vacante.icon %}
                <img class="img-thumbnail featurette-image img-responsive size" src="/media/{{vacante.icon}}" alt="{{vacante.slug}}"></a>
              {% else %}
               <img class="img-thumbnail featurette-image img-responsive size" src="{% static 'img/empleo.png' %}" alt="{{vacante.slug}}"></a>
              {% endif %}
                
              </div>
            </div>
          <div class="col-md-8" id="news-entry">
            <a href=" {% url 'vacante' vacante.slug %}"><h3>{{vacante.title}}</h3></a>
            {{vacante.description|safe|escape|truncatewords:30}}
            <a href="{% url 'vacante' vacante.slug %}">Ver más</a>
          </div>
        </div><!--row-->
        
        {% endfor %}
        
        <ul class="pagination">
        
        {% if vacantes.has_previous %}
           <li><a href="?page={{ vacantes.previous_page_number }}">Anterior</a></li>
        {% endif %}

        
           <li><a href="#">Página {{ vacantes.number }}</a></li> 
       

        {% if vacantes.has_next %}
           <li> <a href="?page={{ vacantes.next_page_number }}">Siguiente</a></li>
        {% endif %}
        </ul>
        {% else %}
        <p>No hay contenido</p>
        {% endif %}
        <!--/Contenido-->
  			</div>
  			<div class="col-md-6 col-md-3" id="sidebar">
  				<div class="widget">
            <div class="header-sidebar">
              <span>Contácto</span>
            </div>
            <div class="cont-sidebar">
              <ul>
                <li><b>Teléfono: </b>353-532-63-78</li>
                <li><b>Dirección: </b>Calzada Revolucion 343 esq Padre Arregui, Col:Centro</li>
                <li><b>Ciudad: </b>Sahuayo, Mich.</li>
                <li>Correo: info@super24.com.mx</li>
              </ul>
            </div>
          </div><!--/widget-->
  					<div class="widget">
            <div class="header-sidebar">
              <span>Nosotros</span>
            </div>
            <div class="cont-sidebar">
              <span>
                “Somos una empresa comprometida con la satisfacción total de nuestros clientes, encontrando las 24 horas la diferencia en atención, limpieza, seguridad, variedad y rapidez en sus necesidades de compras convenientes.” 
              </span>
            </div>
          </div><!--/widget-->
  			</div>
		</div>	
	</div><!--/container-->

{% endblock %}